In [1]:
#Write Examples code for concatenation

In [3]:
str1="hi"
str2="friends"
concatenated_string=str1+" "+str2
print("concatenated string:",concatenated_string)

concatenated string: hi friends

In [4]:
#Write one Examples for each formatting techniques

In [6]:
name="yash"
age=20
formatted_string="Name: %s,Age: %d" %(name,age)
print("Formatted string:",formatted_string)

Formatted string: Name: yash,Age: 20

In [7]:
#Go Through Reference site and apply various options into formatting techniques

In [8]:
from string import Template
template = Template("Name:raghava, Age:20")
formatted_string= template.substitute(name=name, age=age)
print("Formatted string:",formatted_string)

Formatted string: Name:raghava, Age:20

In [9]:
formated_string="name:{},age: {}".format(name, age)
print("Formatted string:",formatted_string)

Formatted string: Name:raghava, Age:20

In [10]:
#write example for each arithmetic operators

In [11]:
add=25+6
print("Add:",add)

Add: 31

In [12]:
subtract=245-73
print("sub:",subtract)

sub: 172

In [14]:
multiply=235*62
print("multiply:",multiply)

multiply: 14570

In [15]:
division=26/2
result_exp=3**8
result_mod=23%5

print("division:",division)
print("expoten:",result_exp)
print("modulus:",result_mod)

division: 13.0
expoten: 6561
modulus: 3

In [16]:
#write example for assignment operators(except: = & +=)

In [20]:
x=2
x *=2
print("after multiply:",x)

after multiply: 4

In [21]:
x=45
x -=4
print("after subtract:",x)

after subtract: 41

In [22]:
z=121
z /=11
print("after divide:",z)

after divide: 11.0